@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');

@media (min-width:421px){
    .input_container{
        width: 75%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .input{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: 2px solid #1C0C5B;
    }
    ::-webkit-input-placeholder {
        text-align: center;
        font-size: 1vw;
        align-items: center;
        font-family: 'Prompt', sans-serif;    
     }
}


@media (
    max-width:420px
){
    .input_container{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .input{
        width: 100%;
        height: 60px;
        border-radius: 10px;
        border: none;
        margin: 5px;
        font-size: 4.5vw;
        }

        ::-webkit-input-placeholder {
            text-align: center;
            font-size: 3.5vw;
            align-items: center;
            font-family: 'Prompt', sans-serif;    
         }
}