.imageList_container {
  background-color: #916bbf;
}

.first_section_imageList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.second_section_imageList {
  width: 100%;
  columns: 8 250px;
  column-gap: 25px;
}
.images_search_container{
  width: 100%;
}
.images_search_item{
  text-decoration: none;
  color: white;
}


.image_item{
width: 100%;
border-radius: 12px;
}
.text_image{
  font-weight: bolder;
  font-size: 0.7vw;
  color: black;
}

.noResult_section_container{
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.noResult_text{
  background-color: #C996CC;
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .text_image{
    color: white;
    position: relative;
    top: -80px;
    left: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-weight: bolder;
    color: white;
    font-size:3vw;
  }
  .first_section_imageList {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .noResult_section_container{
    width: 100%;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .noResult_text{
    background-color: #C996CC;
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: black;
    border-radius: 10px;
    cursor: pointer;
  }
}